# ~/.config/starship.toml
# This is my starship.toml file for my personal computer at home running KDE Neon and/or Windows 10/11.
# feel free to use it as a template for your own starship.toml file if you like it or the color purple.

# Using the first 15 of 256bit colors in the terminal - 0-15: System colors https://jonasjacek.github.io/colors/

# Black = 0, Maroon = 1, Green = 2, Olive = 3,   Navy = 4,  Purple = 5,   Teal = 6,  Silver = 7,
# Grey = 8,  Red = 9,    Lime = 10, Yellow = 11, Blue = 12, Fuchsia = 13, Aqua = 14, White = 15

# A continuation prompt that displays two filled in arrows

[line_break]
disabled = true                                                         # Stop allowing a divided prompt
add_newline = false                                                     # Do not add new line after command completion.

[character]
success_symbol = '[>](bold fg:8)'                                     # Normal symbol for the prompt.
error_symbol = '[>](bold fg:1)'                                        # Error symbol for the prompt.
format = " $symbol "

[cmd_duration]
disabled = true                                                         # Disable the command execution time.

[container]
disabled = true                                                         # Disable the container module.

[directory]
disabled = false                                                        # Enable the directory module.
read_only = ' !!'                                                       # Read only symbol.
home_symbol = "~"                                                       # Use default symbol for home directory.
style = "bold fg:14"                                                    # Teal and bold for directory text.
read_only_style = "bold fg:9"                                           # Red and bold for read only text.
truncation_length = 2                                                   # Truncate long directory names.
truncation_symbol = ".../"                                              # Truncate symbol.
format = ' [+](bold fg:8) [$path$home_symbol]($style)[$read_only]($read_only_style)'

[git_branch]
always_show_remote = false                                              # Do not show remote branch
symbol = ' [ï˜](bold fg:8) '                                             # Unicode Git symbol (U+E0A0)
truncation_length = 15                                                  # A branch name that is to long should be truncated.
truncation_symbol = "..."                                               # Truncate symbol.
only_attached = false                                                   # Not attached is not an error, so show branch name.
format = '$symbol[$branch(:$remote_branch)](bold fg:5)'

[git_status]
disabled = false                                                        # Never disable the git status module.
conflicted = " [!](bold fg:9)"                                          # Branch in conflict.
untracked = " [?](bold fg:3)"                                           # Untracked changes.
up_to_date = ""                                                         # No need to show up to date status
modified = " [>](bold fg:11)"                                           # Modified directory/file.
staged = " [+](bold fg:2)"                                              # Staged commits.
deleted = " [-](bold fg:1)"                                             # Deleted file/dicertory.
format = ' [\(](bold fg:5)$all_status$ahead_behind [\)](bold fg:5)'

[hostname]
ssh_only = true                                                         # Show only when ssh'd into remote host.
trim_at = '.'                                                           # Don't trim the hostname.
format = '[@](bold fg:5)[ssh:$hostname](bold underline fg:5)'

[nodejs]
disabled = true                                                         # Disable nodejs version and icon.

[ocaml]
disabled = true                                                         # Disable ocaml version and icon.

[package]
disabled = true                                                         # Disable package version and icon.

[perl]
disabled = true                                                         # Disable perl version and icon.

[python]
disabled = true                                                         # Disable python version and icon.

[rust]
disabled = true                                                         # Disable rust version and icon.

[ruby]
disabled = true                                                         # Disable ruby version and icon

[shell]
disabled = true                                                         # Disable shell version and icon.

[time]
disabled = true                                                         # Disable clock in prompt.

[username]
show_always = true                                                      # Yes show who I am.
style_user = "bold fg:14 bg:5"                                          # Highlight with lighter color.
style_root = "bold fg:5 bg:14"                                          # Highlight with darker color.
format = "[$user]($style)"
